<?xml version="1.0" encoding="utf-8"?>

<settings> 
  <localRepository>/usr1/david/mvnrepo/fleet</localRepository>  
  <servers></servers>  
  <mirrors></mirrors>  
  <profiles> 
    <profile> 
      <id>central</id>  
      <repositories> 
        <repository> 
          <id>central</id>  
          <url>http://100.94.0.50:8081/nexus/content/repositories/releases/</url>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>false</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>central</id>  
          <url>http://wlg1.artifactory.cd-cloud-artifact.tools.huawei.com/artifactory/sz-maven-public/</url>  
          <releases> 
            <enabled>false</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile>  
    <profile> 
      <id>kernel</id>
      <repositories> 
        <repository> 
          <id>kernel</id>
          <url>http://hadoopkernel.inhuawei.com:8081/nexus/content/repositories/Kernel_Hadoop/</url>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>false</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>kernel</id>
          <url>http://wlg1.artifactory.cd-cloud-artifact.tools.huawei.com/artifactory/sz-maven-public/</url>  
          <releases> 
            <enabled>false</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile>  
    <profile> 
      <id>wl</id>  
      <repositories> 
        <repository> 
          <id>wl</id>  
          <url>http://wlg1.artifactory.cd-cloud-artifact.tools.huawei.com/artifactory/sz-maven-public/</url>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>wl</id>  
          <url>http://wlg1.artifactory.cd-cloud-artifact.tools.huawei.com/artifactory/sz-maven-public/</url>  
          <releases> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled>  
            <updatePolicy>always</updatePolicy> 
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile> 
  </profiles>  
  <activeProfiles> 
    <activeProfile>central</activeProfile>
	<activeProfile>kernel</activeProfile>
    <activeProfile>wl</activeProfile> 
  </activeProfiles> 
</settings>

